@import "init/reset";
@import "modules/bootstrap";

@import "config";
@import "init/utils";
@import "init/mixins";

@import "global";

@import "partials/header";
@import "partials/footer";

// #tradingview_container {
//     width: 800px;
//     height: 800px;
// }
